<div class="container mx">

    <h2>Registrarse</h2>
    <form method="post" class="m-4">

        <div class="input-group">
            <label for="firstName" class="input-group-text">Nombre </label>
            <input name="firstName" placeholder="Nombre" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="lastName" class="input-group-text">Apellido </label>
            <input name="lastName" placeholder="Apellido" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="userName" class="input-group-text">Alias </label>
            <input name="userName" placeholder="Alias" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="email" class="input-group-text">Mail</label>
            <input name="email" placeholder="Mail" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="password" class="input-group-text">Contraseña</label>
            <input name="password" placeholder="Contraseña" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="confirmPassword" class="input-group-text">Confirmar Contraseña </label>
            <input name="confirmPassword" placeholder="Confirmar Contraseña" class="form-control" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <h3>¿Ya tienes cuenta? <a href="/login"><strong>Inicia sesion</strong></a></h3>
</div>